<div class="table-caption">
  <h2 class="user-view-header">Mín verk</h2>
  <!-- <h2 class="routing-header" routerLink="/" routerLinkActive="active">Öll mín verk<i
          class="far fa-arrow-alt-circle-right grid-header-routing-icon"></i></h2> -->
</div>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="col-md-6">
        Öll mín verk
      </mat-panel-title>
      <mat-panel-description class="col-md-6">
        Fjöldi: {{(userJobs$ | async)?.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ejs-grid #grid [dataSource]="(userJobs$ | async)"
              allowPaging='true'
              allowSorting='true'
              [allowResizing]='true'
              [pageSettings]='pageSettings'
              [allowTextWrap]='true'>
      <e-columns>
        <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
        <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
        <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
        <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yyyy" width="110px" [customAttributes]='customAttributes'></e-column>
        <e-column field='description' headerText='Lýsing' width="300px" [customAttributes]='customAttributes'></e-column>
        <e-column field='emergencyJob' headerText='Neyðarverk?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column>
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <e-column field='status' headerText='Staða' width="100" [customAttributes]='customAttributes' [valueAccessor]="statusFormatter"></e-column>
        <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
          <ng-template #template let-userJobs>
            <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
            <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(userJobs, 'view')"></i>
            <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(userJobs, 'update')"></i>
            <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(userJobs, 'comment')"></i>
            <i class="fas fa-baby subjob-action-icon" matTooltip="Skrá undirverk" (click)="openSubTaskDialog(userJobs, 'subJob')"></i>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="col-md-6">
        Óhafin Verk
      </mat-panel-title>
      <mat-panel-description class="col-md-6">
        Fjöldi: {{(jobsAssigned$ | async)?.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ejs-grid #grid [dataSource]="(jobsAssigned$ | async)"
              allowPaging='true'
              allowSorting='true'
              [allowResizing]='true'
              [pageSettings]='pageSettings'
              [allowTextWrap]='true'>
      <e-columns>
        <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
        <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
        <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
        <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yyyy" width="110px" [customAttributes]='customAttributes'></e-column>
        <e-column field='description' headerText='Lýsing' width="300px" [customAttributes]='customAttributes'></e-column>
        <e-column field='emergencyJob' headerText='Neyðarverk?' width="100px" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column>
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <e-column field='status' headerText='Staða' width="100px" [customAttributes]='customAttributes' [valueAccessor]="statusFormatter"></e-column>
        <e-column field="operations" headerText="Aðgerðir" width="100px" [customAttributes]='customAttributes'>
          <ng-template #template let-jobsAssigned>
            <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
            <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobsAssigned, 'view')"></i>
            <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobsAssigned, 'update')"></i>
            <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(jobsAssigned, 'comment')"></i>
            <i class="fas fa-baby subjob-action-icon" matTooltip="Skrá undirverk" (click)="openSubTaskDialog(jobsAssigned, 'subJob')"></i>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="col-md-6">
        Verk í vinnslu
      </mat-panel-title>
      <mat-panel-description class="col-md-6">
        Fjöldi: {{(jobsInProgress$ | async)?.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ejs-grid #grid [dataSource]="(jobsInProgress$ | async)"
              allowPaging='true'
              allowSorting='true'
              [allowResizing]='true'
              [pageSettings]='pageSettings'
              [allowTextWrap]='true'>
      <e-columns>
        <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
        <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
        <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
        <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yyyy" width="110px" [customAttributes]='customAttributes'></e-column>
        <e-column field='description' headerText='Lýsing' width="300px" [customAttributes]='customAttributes'></e-column>
        <e-column field='emergencyJob' headerText='Neyðarverk?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column>
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <e-column field='status' headerText='Staða' width="100" [customAttributes]='customAttributes' [valueAccessor]="statusFormatter"></e-column>
        <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
          <ng-template #template let-jobsInProgress>
            <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
            <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobsInProgress, 'view')"></i>
            <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobsInProgress, 'update')"></i>
            <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(jobsInProgress, 'comment')"></i>
            <i class="fas fa-baby subjob-action-icon" matTooltip="Skrá undirverk" (click)="openSubTaskDialog(jobsInProgress, 'subJob')"></i>
            <!-- <i class="far fa-comment"></i> -->
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="col-md-6">
        Verk í bið
      </mat-panel-title>
      <mat-panel-description class="col-md-6">
        Fjöldi: {{(jobsOnHold$ | async)?.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ejs-grid #grid [dataSource]="(jobsOnHold$ | async)"
              allowPaging='true'
              allowSorting='true'
              [allowResizing]='true'
              [pageSettings]='pageSettings'
              [allowTextWrap]='true'>
      <e-columns>
        <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
        <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
        <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
        <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yyyy" width="110px" [customAttributes]='customAttributes'></e-column>
        <e-column field='description' headerText='Lýsing' width="300px" [customAttributes]='customAttributes'></e-column>
        <e-column field='emergencyJob' headerText='Neyðarverk?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column>
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <e-column field='status' headerText='Staða' width="100" [customAttributes]='customAttributes' [valueAccessor]="statusFormatter"></e-column>
        <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
          <ng-template #template let-jobsOnHold>
            <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
            <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobsOnHold, 'view')"></i>
            <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobsOnHold, 'update')"></i>
            <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(jobsOnHold, 'comment')"></i>
            <i class="fas fa-baby subjob-action-icon" matTooltip="Skrá undirverk" (click)="openSubTaskDialog(jobsOnHold, 'subJob')"></i>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="col-md-6">
        Kláruð verk
      </mat-panel-title>
      <mat-panel-description class="col-md-6">
        Fjöldi: {{(jobsFinished$ | async)?.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ejs-grid #grid [dataSource]="(jobsFinished$ | async)"
              allowPaging='true'
              allowSorting='true'
              [allowResizing]='true'
              [pageSettings]='pageSettings'
              [allowTextWrap]='true'>
      <e-columns>
        <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
        <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
        <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
        <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yyyy" width="110px" [customAttributes]='customAttributes'></e-column>
        <e-column field='description' headerText='Lýsing' width="300px" [customAttributes]='customAttributes'></e-column>
        <e-column field='emergencyJob' headerText='Neyðarverk?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column>
        <!-- <e-column field='hasComments' headerText='Athugasemdir?' width="100" [customAttributes]='customAttributes' [valueAccessor]="boolFormatter"></e-column> -->
        <e-column field='status' headerText='Staða' width="100" [customAttributes]='customAttributes' [valueAccessor]="statusFormatter"></e-column>
        <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
          <ng-template #template let-jobsFinished>
            <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
            <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobsFinished, 'view')"></i>
            <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobsFinished, 'update')"></i>
            <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(jobsFinished, 'comment')"></i>
            <i class="fas fa-baby subjob-action-icon" matTooltip="Skrá undirverk" (click)="openSubTaskDialog(jobsFinished, 'subJob')"></i>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-expansion-panel>
</mat-accordion>
