<div>
    <h2>Skráning neyðarverks</h2>
    <form>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Nafn neyðarverks</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Verkaðilar</mat-label>
                    <mat-select multiple>
                        <mat-option>Starfsmaður 1</mat-option>
                        <mat-option>Starfsmaður 2</mat-option>
                        <mat-option>Starfsmaður 3</mat-option>
                        <mat-option>Starfsmaður 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Veita</mat-label>
                    <mat-select>
                        <mat-option>Veita 1</mat-option>
                        <mat-option>Veita 2</mat-option>
                        <mat-option>Veita 3</mat-option>
                        <mat-option>Veita 4</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Svæði</mat-label>
                    <mat-select>
                        <mat-option>Svæði 1</mat-option>
                        <mat-option>Svæði 2</mat-option>
                        <mat-option>Svæði 3</mat-option>
                        <mat-option>Svæði 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <!-- Þarf nokkuð að hafa dagsetningu? er ekki að taka það inn í grunninn þegar að beiðni verður til? -->
                <mat-form-field appearance="fill">
                    <mat-label>Lýsing</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>

</div>