<div>
    <h2>Skráning neyðarverks</h2>
    <form [formGroup]="emergencyJobForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Nafn neyðarverks</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Verkaðilar</mat-label>
                    <mat-select formControlName="jobUser" disableOptionCentering panelClass="material-select-box">
                        <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field >
                    <mat-label>Veita</mat-label>
                    <mat-select formControlName="plant" disableOptionCentering panelClass="material-select-box">
                        <mat-option *ngFor="let plant of plants" [value]="plant.id">{{plant.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field >
                    <mat-label>Svæði</mat-label>
                    <mat-select formControlName="area" disableOptionCentering panelClass="material-select-box">
                        <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <!-- Þarf nokkuð að hafa dagsetningu? er ekki að taka það inn í grunninn þegar að beiðni verður til? -->
                <mat-form-field >
                    <mat-label>Lýsing</mat-label>
                    <textarea matInput formControlName="text"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Stofna</button>
            </div>
        </div>
    </form>

</div>