<h2 *ngIf="dialogData.action.toLowerCase() != 'insert'">{{editMode}} {{dialogData.areas.name}}</h2>
<h2 *ngIf="dialogData.action.toLowerCase() == 'insert'">{{editMode}} Svæði</h2>

<mat-dialog-content>
    <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-input">
            <mat-label class="form-input">Nafn</mat-label>
            <input matInput type="text" class="form-input" formControlName="name" [value]="selectedRow.name" >
        </mat-form-field>
        <button *ngIf="dialogData.action != 'view' && dialogData.action != 'delete'" class="form-submition" type="submit" [disabled]="!areaForm.valid">{{editMode}}</button>
        <button *ngIf="dialogData.action == 'delete'" class="form-submition" type="submit">{{editMode}}</button>    </form>
</mat-dialog-content>
