<mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">
    <div class="row ml-1">
        <div>
            <h2>Starfsmenn</h2>
        </div>
        <div class="ml-auto mr-3">
            <button (click)="openDialog('insert')">Stofna</button>
        </div>
    </div>
    <mat-grid-tile>
        <div class="grid-tile-header">
            <h5>
                Starfsmaður 1
            </h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Verk í vinnslu: </li>
                <li>Verk í bið: </li>
                <li>Kláruð verk í vikunni: </li>
                <li>Kláruð verk í mánuðinum: </li>
                <li>Fjöldi verktíma í vikunni: </li>
                <li>Fjöldi verktíma í mánuðinum: </li>
            </ul>
        </div>
        <div class="grid-tile-button">
            <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Skoða nánar<i
                    class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-tile-header">
            <h5>
                Starfsmaður 2
            </h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Verk í vinnslu: </li>
                <li>Verk í bið: </li>
                <li>Kláruð verk í vikunni: </li>
                <li>Kláruð verk í mánuðinum: </li>
                <li>Fjöldi verktíma í vikunni: </li>
                <li>Fjöldi verktíma í mánuðinum: </li>
            </ul>
        </div>
        <div class="grid-tile-button">
            <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Skoða nánar<i
                    class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-tile-header">
            <h5>
                Starfsmaður 3
            </h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Verk í vinnslu: </li>
                <li>Verk í bið: </li>
                <li>Kláruð verk í vikunni: </li>
                <li>Kláruð verk í mánuðinum: </li>
                <li>Fjöldi verktíma í vikunni: </li>
                <li>Fjöldi verktíma í mánuðinum: </li>
            </ul>
        </div>
        <div class="grid-tile-button">
            <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Skoða nánar<i
                    class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-tile-header">
            <h5 class="">
                Starfsmaður 4
            </h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Verk í vinnslu: </li>
                <li>Verk í bið: </li>
                <li>Kláruð verk í vikunni: </li>
                <li>Kláruð verk í mánuðinum: </li>
                <li>Fjöldi verktíma í vikunni: </li>
                <li>Fjöldi verktíma í mánuðinum: </li>
            </ul>
        </div>
        <div class="grid-tile-button">
            <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Skoða nánar<i
                    class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
        </div>
    </mat-grid-tile>
</mat-grid-list>
