<div>
    <div class="table-caption">
        <h2>Allir starfsmenn</h2>
        <button mat-raised-button color="primary" (click)="openDialog('insert')">Stofna</button>
    </div>
    <mat-accordion *ngFor="let user of (users$ | async); let i = index" style="text-align: center;">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="col-md-6">
                    {{user.name}}
                </mat-panel-title>
                <mat-panel-description class="col-md-6">
                    Staða: {{userStatus[user.status]}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Staða</mat-label>
                <mat-select type="number"  [(ngModel)]="user.status" disableOptionCentering panelClass="material-select-box">
                    <mat-option *ngFor="let item of userStatus | enumToArray" [value]="item.index">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hlutverk</mat-label>
                <mat-select  type="number" [(ngModel)]="user.role" disableOptionCentering panelClass="material-select-box">
                    <mat-option *ngFor="let item of role | enumToArray" [value]="item.index">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="updateUser(user)">Uppfæra</button>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="accent" type="submit" (click)="toggleKeyView()">Breyta lykilorði starfsmanns</button>

    <mat-card *ngIf="updatePwToggle" class="row" style="text-align: center;">
        <mat-form-field>
            <mat-label>Notandi</mat-label>
            <mat-select type="number"  [(ngModel)]="selectedUser" disableOptionCentering panelClass="material-select-box">
                <mat-option [value]="null">-</mat-option>
                <mat-option *ngFor="let item of (users$ | async)" [value]="item">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <form [formGroup]="userForm">
            <mat-form-field>
                <mat-label>Breyta lykilorði</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="updateUserKey(selectedUser)" >Uppfæra lykilorð</button>
    </mat-card>
</div>





<!-- <mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">
    <div class="row ml-1 grid-action-buttons">
        <div>
            <h2>Starfsmenn</h2>
        </div>
        <div class="ml-auto mr-3">
            <button (click)="openDialog('insert')">Stofna</button>
        </div>
    </div>
    <mat-grid-tile *ngFor="let user of users">
        <div class="grid-tile-header">
            <h5>
                {{user.name}}
            </h5>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Verk í vinnslu: </li>
                <li>Verk í bið: </li>
                <li>Kláruð verk í vikunni: </li>
                <li>Kláruð verk í mánuðinum: </li>
                <li>Fjöldi verktíma í vikunni: </li>
                <li>Fjöldi verktíma í mánuðinum: </li>
            </ul>
        </div>
        <div class="grid-tile-button">
            <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Skoða nánar<i
                    class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->


