<div>
    <div class="row ml-1">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Sía</mat-label>
                <mat-select multiple>
                    <mat-option>Veita 1</mat-option>
                    <mat-option>Veita 2</mat-option>
                    <mat-option>Veita 3</mat-option>
                    <mat-option>Veita 4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="ml-auto mr-3">
            <button>Stofna</button>
        </div>
    </div>
</div>
<div>
    <div class="row ml-1">
        <div>
            <h2>Allar veitur</h2>
        </div>
    </div>
    
    <ejs-grid>
        <e-columns>
            <e-column></e-column>
            <e-column></e-column>
        </e-columns>
    </ejs-grid>
</div>

