<h2 *ngIf="dialogData.action.toLowerCase() != 'insert'">{{editMode}} {{dialogData.job.name}}</h2>
<h2 *ngIf="dialogData.action.toLowerCase() == 'insert'">{{editMode}} Verk</h2>

<mat-dialog-content >
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" *ngIf="dialogData.action != 'comment'">
        <mat-form-field class="form-input">
            <mat-label class="form-input">Stöð</mat-label>
            <mat-select type="number" formControlName="stationId" class="form-input" disableOptionCentering panelClass="material-select-box">
                <mat-option [value]="null">-</mat-option>
                <mat-option *ngFor="let item of stations" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Nafn</mat-label>
            <input matInput type="text" class="form-input" formControlName="name" [value]="selectedRow.name" >
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Lýsing</mat-label>
            <textarea matInput type="text" class="form-input" formControlName="description" [value]="selectedRow.description"></textarea>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Endurtekningar</mat-label>
            <mat-select type="number" formControlName="recurring" class="form-input" value="selectedRow.recurring" disableOptionCentering panelClass="material-select-box">
                <mat-option *ngFor="let item of recur | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label class="form-input">Lengd verks(mín)</mat-label>
            <input matInput type="text" class="form-input" formControlName="duration" [value]="selectedRow.duration" >
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Klára fyrir</mat-label>
            <input matInput [matDatepicker]="picker1" [value]="selectedRow.completeBy" formControlName="completeBy">
            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
            <mat-datepicker [startAt]="selectedRow.completeBy" #picker1></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field class="form-input">
            <mat-label class="form-inut">Klára fyrir</mat-label>
            <input matInput *ngIf="dialogData.action.toLowerCase() != 'insert'" type="text" class="form-input" formControlName="completeBy" [value]="selectedRow.completeBy" >
            <input matInput *ngIf="dialogData.action.toLowerCase() == 'insert'" type="date" class="form-input" formControlName="completeBy" [value]="selectedRow.completeBy" >
        </mat-form-field> -->

        <mat-form-field class="form-input">
            <mat-label class="form-input">Staða</mat-label>
            <mat-select type="number" formControlName="status" class="form-input" value="selectedRow.status" disableOptionCentering panelClass="material-select-box">
                <mat-option *ngFor="let item of jobStatus | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Neyðarverk?</mat-label>
            <mat-select formControlName="emergencyJob" class="form-input" value="selectedRow.emergencyJob" disableOptionCentering panelClass="material-select-box">
                <mat-option [value]="null">-</mat-option>
                <mat-option [value]="true">Já</mat-option>
                <mat-option [value]="false">Nei</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Athugasemdir?</mat-label>
            <mat-select formControlName="hasComments" class="form-input" value="selectedRow.hasComments" disableOptionCentering panelClass="material-select-box">
                <mat-option [value]="null">-</mat-option>
                <mat-option [value]="true">Já</mat-option>
                <mat-option [value]="false">Nei</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Síðasta athugun</mat-label>
            <input matInput [matDatepicker]="picker2" [value]="selectedRow.lastCheck" formControlName="lastCheck">
            <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
            <mat-datepicker [startAt]="selectedRow.lastCheck" #picker2></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field class="form-input">
            <mat-label class="form-input">Síðasta athugun</mat-label>
            <input matInput *ngIf="dialogData.action.toLowerCase() != 'insert'" type="text" class="form-input" formControlName="lastCheck" [value]="selectedRow.lastCheck" >
            <input matInput *ngIf="dialogData.action.toLowerCase() == 'insert'" type="date" class="form-input" formControlName="lastCheck" [value]="selectedRow.lastCheck" >
        </mat-form-field> -->
        
        <button mat-raised-button color="primary" *ngIf="dialogData.action != 'view' && dialogData.action != 'delete'" class="form-submition" type="submit" [disabled]="!jobForm.valid">{{editMode}}</button>
        <button mat-raised-button color="primary" *ngIf="dialogData.action == 'delete'" class="form-submition" type="submit">{{editMode}}</button>
    </form>

    <form [formGroup]="commentForm" *ngIf="dialogData.action == 'comment'" (ngSubmit)="onSubmitComment()">
        <mat-form-field *ngFor="let comment of jobComments; let i = index" class="form-input">
            <mat-label class="form-input">Athugasemd {{i}}: gerð af {{comment.user.name}} </mat-label>
            <textarea matInput class="form-input" [disabled]="true" [value]="comment.text"></textarea>
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label class="form-input">Ný athugasemd</mat-label>
            <textarea matInput class="form-input" formControlName="comment"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" class="form-submition" type="submit">Skrá athugasemd</button>
    </form>
</mat-dialog-content >
