<div class="row">
  <div class="col-md-3"></div>
  <div class="border-box col-md-6">
    <div class="log-in-box">
      <img class="log-in-logo" src="../../assets/images/HEF-logo.jpeg">
      <h1 class="text-center log-in-header">Innskráning</h1>
      <input class="log-in-input" placeholder="Netfang" type="email">
      <input class="log-in-input" placeholder="Lykilorð" type="password">
      <button class="log-in-button" routerLink="/home" routerLinkActive="active">Innskrá</button>
    </div>
  </div>
</div>

