<h2>{{editMode}} Starfsmann</h2>
<mat-dialog-content>
    <form [formGroup]="staffForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-input">
            <mat-label class="form-input">Nafn</mat-label>
            <input matInput type="text" class="form-input" formControlName="name" [value]="selectedRow.name" >
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label class="form-input">Netfang</mat-label>
            <input matInput type="email" class="form-input" formControlName="email" [value]="selectedRow.email" >
        </mat-form-field>

        <mat-form-field class="form-input" *ngIf="dialogData.action == 'insert'">
            <mat-label class="form-input">Lykilorð</mat-label>
            <input matInput type="password" class="form-input" formControlName="password" [value]="selectedRow.password" >
        </mat-form-field>

        <mat-form-field class="form-input" *ngIf="dialogData.action.toLowerCase() == 'insert'">
            <mat-label class="form-input">Staða</mat-label>
            <mat-select type="number" formControlName="status" class="form-input" value="selectedRow.status" disableOptionCentering panelClass="material-select-box">
                <mat-option *ngFor="let item of status | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-input" *ngIf="dialogData.action.toLowerCase() == 'insert'">
            <mat-label class="form-input">Hlutverk</mat-label>
            <mat-select type="number" formControlName="role" class="form-input" value="selectedRow.role" disableOptionCentering panelClass="material-select-box">
                <mat-option *ngFor="let item of role | enumToArray" [value]="item.index">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>


        <button mat-raised-button color="primary" class="form-submition" type="submit" [disabled]="!staffForm.valid">{{editMode}}</button>
    </form>
</mat-dialog-content>

