/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.mat-tab-group{
  animation-duration: 1ms;
  transition-duration: 1ms;
}

::ng-deep .mat-ink-bar {
  background-color: #0182d4 !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-box{
  border: 2px solid #0182d4;
  border-radius: 5px;
}

.log-in-logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.log-in-header{
  margin-top: 40px;
  margin-bottom: 20px;
}

.log-in-input{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
  margin-bottom: 30px;
  border-radius: 5px;
}

.log-in-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #0182d4;
  color: white;
}

.task-status-box{
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 30px;
  width: 330px;
}

.task-status-header{
  margin-top: 10px;
  margin-bottom: 15px;
}

mat-grid-tile {
  background: lightblue;
}
.grid-tile{
  box-shadow: grey;
}

.grid-tile-header{
  position: absolute;
  left: 10px;
  top: 10px;
}

.grid-tile-button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.grid-tile-button-text{
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;  
}

.grid-tile-button-text:hover{
  cursor: pointer;
}

.grid-tile-routing-icon{
  margin-left: 5px;
}

.main-content-holder{
  margin-top: 30px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
