<div>
    <div>
        <div class="row ml-1">
            <div>
                <h2>Allar stöðvar</h2>
            </div>
            <div class="ml-auto mr-3">
                <button (click)="openDialog(null, 'insert')">Stofna</button>
            </div>
        </div>
        
        <ejs-grid #grid id='OllVerk'  
        [dataSource]="(stations$ | async)" 
        [allowPaging]='true' 
        [allowSorting]='true' 
        [allowResizing]="true" 
        (toolbarClick)='toolbarClick($event)'>
            <e-columns >
                <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
                <e-column field='plant' headerText='Veita' width="90px" [valueAccessor]='plantFormatter' [customAttributes]='customAttributes'></e-column>
                <e-column field='area' headerText='Svæði' width="120px" [valueAccessor]='areaFormatter' [customAttributes]='customAttributes'></e-column>
                <e-column field='name' headerText='Nafn' width="110px" [customAttributes]='customAttributes'></e-column>
                <e-column field='address' headerText='Heimilisfang' [customAttributes]='customAttributes'></e-column>
                <e-column field='coordinates' headerText='Hnit' width="95px" [customAttributes]='customAttributes'></e-column>
                <e-column field='locationPrecise' headerText='Nákv. staðsetning' type="text" width="110px" [customAttributes]='customAttributes'></e-column>
                <e-column field='description' headerText='Lýsing' width="95px" [customAttributes]='customAttributes'></e-column>
                <e-column field="operations" headerText="Aðgerðir" width="110" [customAttributes]='customAttributes'>
                    <ng-template #template let-stations>
                        <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
                        <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(stations, 'view')"></i>
                        <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(stations, 'update')"></i>
                        <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(stations, 'delete')"></i>
                    </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>