/* .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
} */

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: rgb(88 175 228);
    font-weight: 700;
} */

/* Styles for the ink bar */
.mat-ink-bar {
    background: rgb(88 175 228) !important;
}