<app-nav-menu></app-nav-menu>
<div class="container" *ngIf="user && user?.role == 1 || user?.role == 2">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Mín verk">
            <app-user-tasks></app-user-tasks>
        </mat-tab>
        <mat-tab label="Sækja nýtt verk">
            <app-obtain-task></app-obtain-task>
        </mat-tab>
        <mat-tab label="Stofna neyðarverk">
            <app-create-emergency-task></app-create-emergency-task>
        </mat-tab>
    </mat-tab-group>
</div>





