<div>
    <mat-tab-group>
        <mat-tab label="Mín verk">
            <div class="main-content-holder">
                <h2 class="user-view-header">Mín verk</h2>
                <h2 class="routing-header" routerLink="/" routerLinkActive="active">Öll mín verk<i class="far fa-arrow-alt-circle-right grid-header-routing-icon"></i></h2>
            </div>
            <mat-grid-list cols="2" rowHeight="3:2" [gutterSize]="'20px'">
                <mat-grid-tile>
                    <div class="grid-tile-header">
                        <h5>
                            Í vinnslu
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                    <div class="grid-tile-button">
                        <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Öll verk í vinnslu<i class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="grid-tile-header">
                        <h5>
                            Í bið
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                    <div class="grid-tile-button">
                        <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Öll verk í bið<i class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="grid-tile-header">
                        <h5>
                            Lokið
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                    <div class="grid-tile-button">
                        <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Öll lokin verk<i class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="grid-tile-header">
                        <h5 class="">
                            Á eindaga í vikunni
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                    <div class="grid-tile-button">
                        <span class="grid-tile-button-text" routerLink="/" routerLinkActive="active">Öll verk á eindaga<i class="far fa-arrow-alt-circle-right grid-tile-routing-icon"></i></span>
                    </div>
                </mat-grid-tile>
              </mat-grid-list>
        </mat-tab>
        <mat-tab label="Sækja nýtt verk"> Sækja nýtt verk </mat-tab>
        <mat-tab label="Stofna neyðarverk"> Stofna neyðarverk </mat-tab>
      </mat-tab-group>
    
</div>




