<h2 *ngIf="dialogData.action.toLowerCase() != 'insert'">{{editMode}} {{dialogData.plant.name}}</h2>
<h2 *ngIf="dialogData.action.toLowerCase() == 'insert'">{{editMode}} Veitu</h2>

<mat-dialog-content>
    <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
        <label class="form-input">
            Nafn
            <input type="text" class="form-input" formControlName="name" placeholder="{{dialogData.plant.name}}" [attr.disabled]="editDisabled? true : null">
        </label>
        <label class="form-input">
            Tegund veitu
            <select formControlName="type" class="form-input" [attr.disabled]="editDisabled? true : null">
                <option *ngFor="let item of keys()">
                    {{item}}
                </option>
            </select>
        </label>

        <button *ngIf="dialogData.action != 'view'" class="form-submition" type="submit" [disabled]="!plantForm.valid">{{editMode}}</button>
    </form>

</mat-dialog-content>

