<h2>{{dialogData.action}} Veitu</h2>

<mat-dialog-content>
    <label class="form-input">
        Nafn
        <input type="text" class="form-input" formControlName="name">
    </label>
    <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
        <label class="form-input">
            Tegund veitu
            <select formControlName="type" class="form-input">
                <option *ngFor="let item of keys()">
                    {{item}}
                </option>
            </select>
        </label>

        <button class="form-submition" type="submit" [disabled]="!plantForm.valid">{{dialogData.action}}</button>
    </form>

</mat-dialog-content>

