<app-nav-menu></app-nav-menu>
<div class="container">
    <mat-tab-group mat-stretch-tabs *ngIf="user?.role == 2">
        <mat-tab label="Verk">
            <app-admin-tasks></app-admin-tasks>
            <!-- Hér kemur yfirlit yfir verk -->
        </mat-tab>
        <mat-tab label="Veitur">
            <app-admin-plants></app-admin-plants>
            <!-- Hér kemur yfirlit yfir veitur-->
        </mat-tab>
        <mat-tab label="Búnaður">
            <app-admin-equipment></app-admin-equipment>
            <!-- Hér kemur lendingarsíða fyrir búnað -->
        </mat-tab>
        <mat-tab label="Stöðvar">
            <app-admin-location></app-admin-location>
            <!-- Hér kemur lendingarsíða fyrir Staðsetningar verka -->
        </mat-tab>
        <mat-tab label="Svæði">
            <app-admin-areas></app-admin-areas>
            <!-- Hér kemur lendingarsíða fyrir Staðsetningar verka -->
        </mat-tab>
        <mat-tab label="Starfsmenn">
            <app-admin-staff></app-admin-staff>
            <!-- Hér kemur yfirlit yfir starfsmenn -->
        </mat-tab>
      </mat-tab-group>
</div>
