<div>
    <div class="row ml-1">
        <div>
            <h2 >Öll svæði</h2>
        </div>
        <div class="ml-auto mr-3">
            <button (click)="openDialog(null, 'insert')">Stofna</button>
        </div>
    </div>
    
    <ejs-grid #grid [dataSource]="(areas$ | async)">
        <e-columns >
            <!-- <e-column field='id' headerText='Auðkenni' width=" 200" isPrimaryKey='true' [customAttributes]='customAttributes'></e-column> -->
            <e-column field='name' headerText='Nafn' [customAttributes]='customAttributes'></e-column>
            <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
                <ng-template #template let-areas>
                    <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(areas, 'view')"></i>
                    <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(areas, 'update')"></i>
                    <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(areas, 'delete')"></i>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>