<div>
    <div class="row ml-1">
        <div>
            <h2 >Öll verk</h2>
        </div>
        <div class="ml-auto mr-3">
            <button mat-raised-button (click)="openDialog(null, 'insert')">Stofna</button>
        </div>
    </div>

    <mat-form-field>
        <mat-label>Sía Stöðu</mat-label>
        <mat-select multiple type="number" value='null' (selectionChange)="filterJobs()" [(ngModel)]="selectedJobStatuses">
            <mat-option *ngFor="let item of jobStatus | enumToArray" [value]="item.index" >{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sía Stöð</mat-label>
        <mat-select multiple type="number" value='null' (selectionChange)="filterJobs()" [(ngModel)]="selectedStations">
            <mat-option *ngFor="let item of (stations$ | async)" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    

    <button mat-raised-button (click)="clearJobFilter()">Hreinsa síur</button>
    
    <ejs-grid 
    #grid id='OllVerk' 
    [allowPaging]='true'
    [dataSource]="(filteredJobs$ | async)" 
    [allowPaging]='true' 
    [allowSorting]='true' 
    [allowResizing]="true" 
    [allowTextWrap]='true'
    (toolbarClick)='toolbarClick($event)'
    (rowDataBound)="rowDataBound($event)"
    [pageSettings]='pageSettings'
    >
        <e-columns >
            <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
            <e-column field='station' headerText='Stöð' width="90px" [valueAccessor]="stationFormatter" [customAttributes]='customAttributes'></e-column>
            <e-column field='name' headerText='Nafn' width="120px" [customAttributes]='customAttributes'></e-column>
            <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yy" width="110px" [customAttributes]='customAttributes'></e-column>
            <e-column field='description' headerText='Lýsing' [customAttributes]='customAttributes'></e-column>
            <e-column field='emergencyJob' headerText='Neyðarverk?' width="95px" [valueAccessor]="boolFormatter" [customAttributes]='customAttributes'></e-column>
            <e-column field='hasComments' headerText='athugasemdir?' width="95px" [valueAccessor]="boolFormatter" [customAttributes]='customAttributes'></e-column>
            <e-column field='lastCheck' headerText='Síðasta athugun' format="dd.MM.yy" type="date" width="110px" [customAttributes]='customAttributes'></e-column>
            <e-column field='recurring' headerText='Endurtekið?' width="95px" [valueAccessor]='recurFormatter' [customAttributes]='customAttributes'></e-column>
            <e-column field='duration' headerText='Lengd(mín)' width="95px" [customAttributes]='customAttributes'></e-column>
            <e-column field='status' headerText='Staða' width="95px" [valueAccessor]='statusFormatter' [customAttributes]='customAttributes'></e-column>
            <e-column field="operations" headerText="Aðgerðir" width="140px" [customAttributes]='customAttributes'>
                <ng-template #template let-jobs>
                    <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
                    <!-- <i class="fas fa-edit action-icon" matTooltip="Sækja" (click)="openDialog(jobs, 'obtain')"></i> -->
                    <i class="fas fa-hand-holding-box action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i>
                    <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobs, 'view')"></i>
                    <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobs, 'update')"></i>
                    <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(jobs, 'delete')"></i>
                    <i class="far fa-comment action-icon" matTooltip="Skrá athugasemd" (click)="openDialog(jobs, 'comment')"></i>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>



<div>
    <div class="row ml-1">
        <div>
            <h2 >Athugasemdir við verk</h2>
        </div>
    </div>

    <mat-form-field>
        <mat-label>Sía Verk</mat-label>
        <mat-select multiple type="number" value='null' (selectionChange)="filterComments()" [(ngModel)]="selectedJobs">
            <mat-option *ngFor="let item of (jobs$ | async)" [value]="item.id" >{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Sía Starfsmann</mat-label>
        <mat-select multiple type="number" value='null' (selectionChange)="filterComments()" [(ngModel)]="selectedUsers">
            <mat-option *ngFor="let item of (users$ | async)" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    

    <button mat-raised-button (click)="clearCommentFilter()">Hreinsa síur</button>
    
    <ejs-grid
    #grid id='AllarAthugasemdir' 
    [dataSource]="(filteredComments$ | async)" 
    [allowPaging]='true' 
    [allowSorting]='true' 
    [allowResizing]="true" 
    [allowTextWrap]='true'
    (toolbarClick)='toolbarClick($event)'
    (rowDataBound)="rowDataBound($event)"
    [pageSettings]='pageSettings'>
        <e-columns>
            <!-- <e-column field="id" headerText='Verk' [customAttributes]='customAttributes'></e-column> -->
            <e-column field="job" headerText='Verk' [valueAccessor]="jobFormatter" [customAttributes]='customAttributes'></e-column>
            <e-column field="user" headerText='Notandi' [valueAccessor]="userFormatter" [customAttributes]='customAttributes'></e-column>
            <e-column field="text" headerText='Athugasemd' [customAttributes]='customAttributes'></e-column>
            <e-column field="seen" headerText='Séð' [valueAccessor]="boolFormatter" [customAttributes]='customAttributes'></e-column>
        </e-columns>
    </ejs-grid>
</div>
