<div>
    <div class="row ml-1">
        <div>
            <h2 >Öll verk</h2>
        </div>
        <div class="ml-auto mr-3">
            <button (click)="openDialog(null, 'insert')">Stofna</button>
        </div>
    </div>
    
    <ejs-grid 
    #grid id='OllVerk' 
    [allowPaging]='true'
    [toolbar]='toolbarOptions'  
    [dataSource]="jobs" 
    [allowPaging]='true' 
    [allowSorting]='true' 
    [allowResizing]="true" 
    [allowPdfExport]='true' 
    [allowTextWrap]='true'
    (toolbarClick)='toolbarClick($event)'
    (rowDataBound)="rowDataBound($event)"
    [pageSettings]='pageSettings'>
        <e-columns >
            <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px"></e-column> -->
            <e-column field='stationId' headerText='Stöð' width="90px"></e-column>
            <e-column field='name' headerText='Nafn' width="120px"></e-column>
            <e-column field='completeBy' headerText='Eindagi' type='date' format="dd.MM.yy" width="110px"></e-column>
            <e-column field='description' headerText='Lýsing'></e-column>
            <e-column field='emergencyJob' headerText='Neyðarverk?' width="95px" [valueAccessor]="boolFormatter"></e-column>
            <e-column field='lastCheck' headerText='Síðasta ath' format="dd.MM.yy" type="date" width="110px"></e-column>
            <e-column field='recurring' headerText='Endurtekið?' width="95px" [valueAccessor]='recurFormatter'></e-column>
            <e-column field='duration' headerText='Lengd(mín)' width="95px"></e-column>
            <e-column field='status' headerText='Staða' width="95px" [valueAccessor]='statusFormatter'></e-column>
            <e-column field="operations" headerText="Aðgerðir" width="140px">
                <ng-template #template let-jobs>
                    <!-- <i class="far fa-hand-pointer action-icon" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i> -->
                    <!-- <i class="fas fa-edit action-icon" matTooltip="Sækja" (click)="openDialog(jobs, 'obtain')"></i> -->
                    <i class="fas fa-hand-holding-box" matTooltip="Útdeila" (click)="openDialog(jobs, 'assign')"></i>
                    <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(jobs, 'view')"></i>
                    <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(jobs, 'update')"></i>
                    <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(jobs, 'delete')"></i>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>

<div>
    <div class="row ml-1">
        <div>
            <h2 >Verk í bið</h2>
        </div>
    </div>
    
    <ejs-grid>
        <e-columns>
            <e-column></e-column>
            <e-column></e-column>
        </e-columns>
    </ejs-grid>
</div>

<div>
    <div class="row ml-1">
        <div>
            <h2 >Athugasemdir við verk</h2>
        </div>
    </div>
    
    <ejs-grid>
        <e-columns>
            <e-column></e-column>
            <e-column></e-column>
        </e-columns>
    </ejs-grid>
</div>
