.create-task-button{
    float: right;
    /* position: relative; */
}

.grid-header-text{
    left: 0;
    position: absolute;
}

.e-unassigned-color{
    background-color: rgb(187, 189, 183);
}

.e-on-hold-color{
    background-color:  #FFE082;
}

.e-finished-color{
    background-color:  #9CCC65;
}

.e-overdue-color{
    background-color: #EF9A9A;
}
