<div>
    <div class="row ml-1">
        <div>
            <h2 >Allur búnaður</h2>
        </div>
        <div class="ml-auto mr-3">
            <button (click)="openDialog(null, 'insert')">Stofna</button>
        </div>
    </div>
    
    <ejs-grid #grid 
    [dataSource]="equipments$ | async"
    [allowPaging]='true' 
    [allowSorting]='true' 
    [allowResizing]="true" 
    [allowTextWrap]='true'>
        <e-columns >
            <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px" [customAttributes]='customAttributes'></e-column> -->
            <e-column field='station' headerText="Stöð" width="120px" [valueAccessor]='stationFormatter' [customAttributes]='customAttributes'></e-column>
            <e-column field='name' headerText='Nafn' [customAttributes]='customAttributes'></e-column>
            <e-column field='model' headerText='Árgerð' type='date' format="yyyy" [customAttributes]='customAttributes'></e-column>
            <e-column field='manufacturer' headerText='Framleiðandi' [customAttributes]='customAttributes'></e-column>
            <e-column field='operation' headerText='Aðgerð' [customAttributes]='customAttributes'></e-column>
            <e-column field='lastCheck' headerText='Síðasta ath' type='date' format="dd.MM.yyyy" [customAttributes]='customAttributes'></e-column>
            <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
                <ng-template #template let-equipments>
                    <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(equipments, 'view')"></i>
                    <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(equipments, 'update')"></i>
                    <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(equipments, 'delete')"></i>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>
