<div>
    <div class="table-caption">
        <h2>Allur búnaður</h2>
        <button mat-raised-button color="accent" (click)="filtersVisibleToggle()">{{filterAction}}</button>
        <button mat-raised-button color="primary" (click)="openDialog(null, 'insert')">Stofna</button> 
    </div>

    
    <mat-card *ngIf="filtersVisible">
        <mat-card-content class="filters">
                <mat-form-field>
                    <mat-label>Sía Stöð</mat-label>
                    <mat-select multiple type="number" value='null' (selectionChange)="filterEquipment()" [(ngModel)]="equipmentFilters['stations']" disableOptionCentering panelClass="material-select-box">
                        <mat-option *ngFor="let item of (stations$ | async)" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label >Sía Síðustu athugun (frá)</mat-label>
                    <input matInput  [max]="lastCheckTo"  [matDatepicker]="picker1" (dateChange)="filterEquipment()" [(ngModel)]="equipmentFilters['lastCheckFrom']">
                    <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="getCurrentDate()" #picker1></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field >
                    <mat-label >Sía Síðustu athugun (til)</mat-label>
                    <input matInput [min]="lastCheckFrom" [max]="getCurrentDate()"  [matDatepicker]="picker2" (dateChange)="filterEquipment()" [(ngModel)]="equipmentFilters['lastCheckTo']">
                    <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                    <mat-datepicker [startAt]="getCurrentDate()" #picker2></mat-datepicker>
                </mat-form-field>
            <button mat-raised-button color="accent" (click)="clearEquipmentFilter()">Hreinsa síur</button>

        </mat-card-content>
    </mat-card>


    
    <ejs-grid #grid 
    [dataSource]="(filteredEquipments$ | async)"
    [allowPaging]='true' 
    [allowSorting]='true' 
    [allowResizing]="true" 
    [pageSettings]="pageSettings"
    [allowTextWrap]='true'>
        <e-columns >
            <!-- <e-column field='id' headerText='Auðkenni' isPrimaryKey='true' width="95px" [customAttributes]='customAttributes'></e-column> -->
            <e-column field='name' headerText='Nafn' [customAttributes]='customAttributes'></e-column>
            <e-column field='station' headerText="Stöð" width="120px" [valueAccessor]='stationFormatter' [customAttributes]='customAttributes'></e-column>
            <e-column field='model' headerText='Árgerð' type='date' format="yyyy" [customAttributes]='customAttributes'></e-column>
            <e-column field='manufacturer' headerText='Framleiðandi' [customAttributes]='customAttributes'></e-column>
            <e-column field='operation' headerText='Aðgerð' [customAttributes]='customAttributes'></e-column>
            <e-column field='lastCheck' headerText='Síðasta ath' type='date' format="dd.MM.yyyy" [customAttributes]='customAttributes'></e-column>
            <e-column field="operations" headerText="Aðgerðir" width="100" [customAttributes]='customAttributes'>
                <ng-template #template let-equipments>
                    <i class="far fa-eye action-icon" matTooltip="Skoða" (click)="openDialog(equipments, 'view')"></i>
                    <i class="fas fa-edit action-icon" matTooltip="Uppfæra" (click)="openDialog(equipments, 'update')"></i>
                    <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="openDialog(equipments, 'delete')"></i>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</div>
