
<h2 *ngIf="dialogData.action.toLowerCase() != 'insert'">{{editMode}} {{dialogData.job.name}}</h2>
<h2 *ngIf="dialogData.action.toLowerCase() == 'insert'">{{editMode}} Verk</h2>

<mat-dialog-content>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
        <!-- <label class="form-input">
            Veita
            <input type="text" class="form-input" formControlName="plant" placeholder="{{dialogData.job.stationId}}">
        </label> -->

        <!-- <label class="form-input">
            Verkaðili
            <input type="text" class="form-input" formControlName="user" placeholder="VANTAR AÐ BÆTA VIÐ" >
        </label> -->
        <label class="form-input">
            Stöð
            <select formControlName="station" class="form-input">
                <option [value]="null">-</option>
                <option *ngFor="let item of stations" [value]="item.id">{{item.name}}</option>
            </select>
        </label>
        <label class="form-input">
            Nafn
            <input type="text" class="form-input" formControlName="name" [value]="jobForm.value.name" >
        </label>
        <label class="form-input">
            Lýsing
            <input type="text" class="form-input" formControlName="description" [value]="jobForm.value.description" >
        </label>
        <label class="form-input">
            Endurtekningar
            <select formControlName="recurring" class="form-input">
                <option *ngFor="let item of recur | enumToArray" [value]="item.index">
                    {{item.name}}
                </option>
            </select>
        </label>
        <label class="form-input">
            Lengd verks(mín)
            <input type="text" class="form-input" formControlName="duration" [value]="selectedRow.duration" >
        </label>
        <label class="form-input">
            Klára fyrir
            <input type="date" class="form-input" formControlName="completeBy" [value]="selectedRow.completeBy" >
        </label>
        <label class="form-input">
            Staða
            <select formControlName="status" class="form-input">
                <option *ngFor="let item of jobStatus | enumToArray" [value]="item.index">
                    {{item.name}}
                </option>
            </select>
        </label>
        <label class="form-input">
            Neyðarverk?
            <select formControlName="emergencyJob" class="form-input" [value]="selectedRow.emergencyJob">
                <option [value]="null">-</option>
                <option [value]="true">Já</option>
                <option [value]="false">Nei</option>
            </select>
        </label>
        <label class="form-input">
            Athugasemdir?
            <select formControlName="hasComments" class="form-input" [value]="selectedRow.hasComments">
                <option [value]="null">-</option>
                <option [value]="true">Já</option>
                <option [value]="false">Nei</option>
            </select>
        </label>
        <label class="form-input">
            Síðasta athugun
            <input *ngIf="dialogData.action.toLowerCase() != 'insert'" type="text" class="form-input" formControlName="lastCheck" [value]="selectedRow.lastCheck" >
            <input *ngIf="dialogData.action.toLowerCase() == 'insert'" type="date" class="form-input" formControlName="lastCheck" [value]="selectedRow.lastCheck" >
        </label>
        
        <button *ngIf="dialogData.action != 'view'" class="form-submition" type="submit" [disabled]="!jobForm.valid">{{editMode}}</button>
    </form>
</mat-dialog-content>