<div *ngIf="dialogData.action == 'assign'">
    <div *ngIf="unassignedUsers.length > 0">
        <form [formGroup]="assignmentForm" (ngSubmit)="onSubmitAssignment('insert')">
            <mat-form-field >
                <mat-label>Úthluta</mat-label>
                <mat-select formControlName="userId">
                    <mat-option [value]="null">-</mat-option>
                    <mat-option *ngFor="let user of unassignedUsers" [value]="user.id">{{user.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button class="form-submition" type="submit" [disabled]="!assignmentForm.valid"> Taka við verki </button>
        </form>
    </div>
    <!-- <div>
        <ejs-grid #grid  
        [dataSource]="assignedUsers" 
        [allowPaging]='true' 
        [allowSorting]='true' 
        [allowResizing]="true" 
        [allowPdfExport]='true' 
        >
            <e-columns >

                <e-column field='name' headerText='Skráðir notendur' [customAttributes]="customAttributes"></e-column>
                <e-column field="operations" headerText="Aðgerðir" width="110" [customAttributes]="customAttributes">
                    <ng-template #template let-assignedUsers>

                        <i class="fas fa-trash-alt action-icon" matTooltip="Eyða" (click)="onSubmitAssignment('delete', assignedUsers)"></i>
                    </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
    </div> -->
</div>
